@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="~/Styles/Style.css">
</head>
<body>
    <header>
        <div class="header-container">
            <a href="~/Index.cshtml">Shops</a>
            @if (User.Identity.IsAuthenticated)
            {
                <a href="~/Pages/Shops.cshtml">Get my shops</a>
                <a href="~/Pages/Main.cshtml">Get ratings</a>
                <a href="~/Pages/UserProfile.cshtml">My page</a>
                <a href="~/Pages/LogOut.cshtml">Log out</a>
            }
            else
            {
                <a href="~/Pages/LogIn.cshtml">Log in</a>
            }
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>