﻿body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    background-color: #7d746d;
}

.header-container {
    display: flex;
}

    .header-container > a {
        height: 55px;
        width: 180px;
        text-decoration: none;
        font-size: 18px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .header-container > a:hover {
            background-color: #434b4d;
        }



.modal-window {
    display: none;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(5, 5, 5, 0.6);
}

.modal-window-content {
    width: 380px;
    padding: 22px 0;
    margin: 10% auto 0 auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 22px #1e1e1e;
}


    .modal-window-content > select {
        border-radius: 18px;
        margin: 10px auto 0 auto;
        padding-left: 22px;
        width: 80%;
        border: none;
        height: 35px;
    }

    .modal-window-content > input {
        border-radius: 18px;
        margin: 10px auto 0 auto;
        padding-left: 22px;
        width: 80%;
        border: 1px solid #434b4d;
        height: 35px;
    }


    .modal-window-content > button {
        width: 170px;
        height: 50px;
        margin: 20px auto 0 auto;
        border-radius: 20px;
        border: none;
        font-size: 20px;
        background-color: #87cefa;
        color: white;
    }

        .modal-window-content > button:hover, .edit-btn:hover {
            transform: scale(1.5);
        }

    .modal-window-content > h1 {
        margin: auto;
        padding: 0;
    }

.button-close-modal-window {
    width: 14px;
    margin: -20px 0 0 380px;
    position: absolute;
    font-size: 29px;
    font-weight: bold;
    border: none;
    background-color: rgba(5, 5, 5, 0.6);
}

    .button-close-modal-window:hover {
        color: red;
        cursor: pointer;
    }

.login-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

    .login-btn-container > button {
        width: 180px;
        height: 70px;
        border-radius: 10px;
        margin-bottom: 15px;
        border: 1px solid #434b4d;
        font-size: 29px;
        color: white;
        background-color: #87cefa;
    }

        .login-btn-container > button:hover {
            transform: scale(1.5);
        }

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 1000px;
    background-color: #d7d7d7;
}

.shop:nth-child(1) {
    margin-top: 20px;
}

.shop {
    display: flex;
    width: 90%;
    height: 95px;
    background-color: #b0b7c6;
    margin-bottom: 20px;
}

.shop-info-block {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 20px 0 0 20px;
}

.ratings, .address, .typeofshop {
    display: flex;
    width: 180px;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.shop-buttons {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 180px;
    align-items: center;
    justify-content: center;
}

    .shop-buttons > form, .edit-btn-container {
        width: 100%;
        margin-bottom: 4px;
    }

        .shop-buttons > form > button, .edit-btn {
            width: 90%;
            height: 30px;
            border: 1px solid #434b4d;
            border-radius: 10px;
            font-size: 17px;
            background-color: cornflowerblue;
        }

            .shop-buttons > form > button:hover {
                transform: scale(1.5);
            }

.my-profile-form {
    display: flex;
    flex-direction: column;
}

    .my-profile-form > * {
        margin-bottom: 15px;
    }

    .my-profile-form > input {
        border-radius: 7px;
        border: 1px solid #898176;
    }

.hidden {
    display: none;
}

.add-form {
    display: flex;
}



.IdShop > div > input {
    margin: 5px 0 10px 10px;
}

.add-form > button {
    margin: 27px 0 0 310px;
    height: 50px;
    width: 90px;
    border: 1px solid #898176;
    border-radius: 10px;
    background-color: cornflowerblue;
}

    .add-form > button:hover {
        transform: scale(1.5);
    }
